* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}
